
.topnav {
  background-color: lavender;
  overflow: hidden;
  font-family: sans-serif;
}

.topnav a {
  float: left;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 55px;
  text-decoration: none;
  font-size: 20px;
}

.active {
  background-color: lightskyblue;
  color: blue;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: blue;
  padding: 14px 55px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lavender;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
  background-color: lightskyblue;
  color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*only shows home and icon*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: inline-block;
  }
}

/*displays the hidden links when icon is clicked*/
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*image gallery*/
img{
    width: 100%;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: 33.33%;
}

/*homepage logo*/
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33.33%;
}

.internship-title{
    color: blue
}

.cats{
    max-width: 25%
}

















